<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
<nav class="navbar navbar-expand-lg bg-nav rounded">
    <a class="nav-link text-white active h5" th:href="@{/home}">Shopping List App</a>
    <a class="nav-link text-white active h5"
       th:if="${@currentUser.isLoggedIn()}" th:href="@{/product/add}">Add Product</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
            aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse d-flex justify-content-end" id="navbarNav">
        <ul class="navbar-nav row">
            <th:block th:unless="${@currentUser.isLoggedIn()}">
            <li class="nav-item col-md-4">
                <a class="nav-link text-white active h5" th:href="@{/user/login}">Login</a>
            </li>
            <li class="nav-item col-md-4">
                <a class="nav-link text-white active h5" th:href="@{/user/register}">Register</a>
            </li>
            </th:block>
            <li th:if="${@currentUser.isLoggedIn()}">
                <a class="nav-link text-white active h5" th:href="@{/user/logout}">Logout</a>
            </li>
        </ul>
    </div>
</nav>
</body>
</html>