<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head th:insert="~{fragments/head-components}"></head>

<body>

<div th:insert="~{fragments/navigation}"></div>

<div class="container" th:object="${modelsByBrandName}">
    <h2 class="text-center text-white m-3">All Brands</h2>
    <div class='row mb-4 d-flex justify-content-around'>
        <div  class="brand-section col-md-5 mr-auto d-flex flex-column"
              th:each="brand : ${modelsByBrandName.get()}"
        >
            <h2>Car brand:
                <span th:text="${brand.getKey()}">Brand name</span>
            </h2>
            <div>Models:
                <table>
                    <tr>
                        <th>Name</th>
                        <th>Category</th>
                    </tr>
                    <tr  th:each="model : ${brand.getValue()}">
                        <th th:text="${model.getName()}"></th>
                        <th th:text="${model.getCategoryType()}"></th>
                    </tr>
                </table>
            </div>
        </div>
    </div>

    <div>
             <footer> </footer>
    </div>
</div>
</body>
</html>
