<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<nav class="main-nav">
    <ul>
        <li>
            <a th:href="@{/}">Home</a>
        </li>
        <li>
            <a th:href="@{/}">Login</a>
        </li>
        <li>
            <a th:href="@{/auth/register}">Register</a>
        </li>
        <li>
            <a th:href="@{/}">About</a>
        </li>
        <li>
            <a th:href="@{/}">Add new route</a>
        </li>
        <li>
            <a th:href="@{/}">Profile</a>
        </li>
        <li>
            <a th:href="@{/}">Admin</a>
        </li>
        <li>
            <a th:href="@{/}">Logout</a>
        </li>
    </ul>
</nav>
</html>