* *::before, *::after {
    box-sizing: border-box;
}

main {
    width: 900px;
    height: 140px;
}

img {
    width: 430px;
    border-right: 1px solid #d1d1d1;
    float: left;
    padding-right: 19px;
    margin-right: 19px;
}

p {
    width: 431px;
    display: inline-block;
    font-size: 20px;
    line-height: 30px;
    color: #2e2e2e;
    text-align: justify;
}